name: Release - Canary

on:
  pull_request:
    types: [labeled]
    branches:
      - main

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  release:
    if: contains(github.event.pull_request.labels.*.name, 'release canary')
    name: Build & Publish a canary release
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: ./.github/setup

      - name: Build
        run: bun run build

      - name: Authenticate to npm
        run:  echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Publish
        run: bun run scripts/canary.ts

      - name: Create a new comment notifying of the new canary version
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // Get package version
            const fs = require("fs");
            const packageJson = JSON.parse(fs.readFileSync("./packages/core/package.json"));
            const version = packageJson.version;

            // Create a comment on the PR with the new canary version
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              body: `A new canary is available for testing. You can install this latest build in your project with:

              \`\`\`sh
              pnpm add @t3-oss/env-core@${version}
              \`\`\`

              or, if you're using Next.js:

              \`\`\`sh
              pnpm add @t3-oss/env-nextjs@${version}
              \`\`\`

              or, if you're using Nuxt:

              \`\`\`sh
              pnpm add @t3-oss/env-nuxt@${version}
              \`\`\`
              `,
            })

            // Remove the label
            github.rest.issues.removeLabel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              name: 'release canary',
            });
